@model MVC_OnlineTicariOtomasyon.Models.Classes.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Add New Category</h2>
<br />
<form class="form-group" method="post">
    <label>Enter the Category Name</label>
    @Html.TextBoxFor(x=>x.CategoryName, new {@class="form-control"})
    <br />
    <button class="btn btn-info" id="btnAdd">Add</button>
</form>

<script>
    $('#btnAdd').click(function ()
    { 
        alert('Adding categories was successful!')
    });
</script>

