@using MVC_OnlineTicariOtomasyon.Models.Classes
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-bordered" style="margin-top:15px ">
    <tr>
        <th>Category ID</th>
        <th>Category Name</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td>
                @Html.ActionLink("Delete", "DeleteCategory", new { id = item.CategoryID }, new { @class = "btn btn-danger", onclick = "return confirm('Do you really want to delete ?')" })
                <a href="/Category/GetCategory/@item.CategoryID" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> Update</a>
            </td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }),
new PagedListRenderOptions
{
    LiElementClasses=new List<string>
    { "page-link"}
})

<a href="/Category/AddCategory" class="btn btn-success"><i class="fas fa-plus-circle"></i> Add New Category</a>

