@using MVC_OnlineTicariOtomasyon.Models.Classes
@model List<Department>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Departments</h2>
<table class="table table-bordered" style="margin-top:15px ">
    <tr>
        <th>Department ID</th>
        <th>Department Name</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DepartmentID</td>
            <td>@item.DepartmentName</td>
            <td>
                @Html.ActionLink("Delete", "DeleteDepartment", new { id = item.DepartmentID }, new { @class = "btn btn-danger", onclick = "return confirm('Do you really want to delete ?')" })
                <a href="/Department/GetDepartment/@item.DepartmentID" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> Update</a>
                <a href="/Category/GetCategory/@item.DepartmentID" class="btn btn-success"><i class="fas fa-info-circle"></i> Details</a>

            </td>
        </tr>
    }
</table>
<a href="/Department/AddDepartment" class="btn btn-success"><i class="fas fa-plus-circle"></i> Add New Department</a>


