
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div>
    @using (Html.BeginForm("Index","QR",FormMethod.Post))
    {
        <input type="text" name="code"/>
        <input type="submit" value="Generate QR Code"/>
    }
    <br />
    @if (ViewBag.QRCode!=null)
    {
        <img src="@ViewBag.QRCode" alt="" style="width:400px; height:400px" />
    }
</div>
