@model MVC_OnlineTicariOtomasyon.Models.Classes.Customer
@{
    ViewBag.Title = "AddCustomer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Add New Customer</h2>
<br />
<form class="form-group" method="post">
    <label>Enter the Customer Name</label>
    @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control" })
    <br />
    <label>Enter the Customer Surname</label>
    @Html.TextBoxFor(x => x.CustomerSurname, new { @class = "form-control" })
    <br />
    <label>Enter the Customer City</label>
    @Html.TextBoxFor(x => x.CustomerCity, new { @class = "form-control" })
    <br />
    <label>Enter the Customer Mail</label>
    @Html.TextBoxFor(x => x.CustomerMail, new { @class = "form-control" })
    <br />
    <button class="btn btn-info" id="btnAdd">Add</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $('#btnAdd').click(function ()
    {
        alert('Adding customer was successful!')
    });
</script>


